c description: 5-vertices graph free of 3-independent sets and 3-cliques
c generator: CNFgen (0.9.5)
c copyright: (C) 2012-2026 Massimo Lauria <massimo.lauria@uniroma1.it>
c url: https://massimolauria.net/cnfgen
c random seed: 31178
c command line: cnfgen -S 31178 -o cnfgen_regression_pack/cnfgen_cases/ram_3_3_n5_sat.cnf ram 3 3 5
c
c known_status: SAT
c pack_family: ramsey
c pack_level: easy
c pack_notes: Ramsey principle
p cnf 10 20
1 2 5 0
1 3 6 0
1 4 7 0
2 3 8 0
2 4 9 0
3 4 10 0
5 6 8 0
5 7 9 0
6 7 10 0
8 9 10 0
-1 -2 -5 0
-1 -3 -6 0
-1 -4 -7 0
-2 -3 -8 0
-2 -4 -9 0
-3 -4 -10 0
-5 -6 -8 0
-5 -7 -9 0
-6 -7 -10 0
-8 -9 -10 0
