c description: Formula with no clauses
c generator: CNFgen (0.9.5)
c copyright: (C) 2012-2026 Massimo Lauria <massimo.lauria@uniroma1.it>
c url: https://massimolauria.net/cnfgen
c random seed: 31002
c command line: cnfgen -S 31002 -o cnfgen_regression_pack/cnfgen_cases/sanity_true_sat.cnf true
c
c known_status: SAT
c pack_family: sanity
c pack_level: easy
c pack_notes: empty true formula
p cnf 0 0
