c description: 6-vertices graph free of 3-independent sets and 3-cliques (reshuffled)
c generator: CNFgen (0.9.5)
c copyright: (C) 2012-2026 Massimo Lauria <massimo.lauria@uniroma1.it>
c url: https://massimolauria.net/cnfgen
c transformation 1: Formula reshuffling
c random seed: 31220
c command line: cnfgen -S 31220 -o cnfgen_regression_pack/cnfgen_cases/shuffle_ram_3_3_n6_unsat.cnf ram 3 3 6 -T shuffle
c
c known_status: UNSAT
c pack_family: ramsey_transform
c pack_level: moderate
c pack_notes: satisfiability-preserving CNFgen transformation
p cnf 15 40
-11 -1 9 0
-11 7 -4 0
-14 -5 6 0
8 -5 -2 0
-3 1 14 0
6 12 10 0
-9 4 -12 0
-1 7 12 0
11 13 2 0
5 15 -10 0
8 -14 9 0
-8 14 -9 0
9 -4 12 0
-8 5 2 0
3 -11 8 0
13 -7 -10 0
-2 -4 10 0
9 -2 6 0
8 -15 -4 0
-1 -13 6 0
-11 -13 -2 0
2 4 -10 0
-9 2 -6 0
11 1 -9 0
-14 -15 12 0
-8 15 4 0
1 13 -6 0
-5 -15 10 0
3 -13 -5 0
11 -7 4 0
-13 7 10 0
1 -7 -12 0
-3 -7 15 0
3 -1 -14 0
14 15 -12 0
-3 11 -8 0
3 7 -15 0
-6 -12 -10 0
14 5 -6 0
-3 13 5 0
